################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.docx
/Learning
/HTML5-canvas-projects
